@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-color{
    background: linear-gradient(168deg, rgb(233, 244, 255) 0%, rgb(255, 255, 255) 100%);
}

.zoom-card-left:hover {
    transform: scale(1.1) rotate(-2deg);
  }
  
  .zoom-card-right:hover {
    transform: scale(1.1) rotate(2deg);
  }
  
  .zoom-card-left,
  .zoom-card-right {
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .zoom-card-left:hover,
  .zoom-card-right:hover {
    border-radius: 50%;
  }
  
  .zoom-in-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  .custom-border {
    background-color: rgb(20, 92, 197);
    padding-top: 10vw;
    padding-bottom: 10vw;
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  }

  .border-style{
    clip-path: polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
    background-color: rgb(65, 127, 218);
  }
  
  